* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /*font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;*/
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0;
  padding: 0;
  background-color: rgb(161, 191, 191);
}

div {
  word-wrap: break-word;
  line-height: 1.25rem;
}

.disclaimer {
  font-size: 0.75rem;
  padding: 0.5rem;
}

.navbar {
  position: relative;
  min-height: 20px;
  font-size: 20px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  color: #86c2cb;
  background-color: #576f7a;
}

.navbar-brand {
  color: #86c2cb;
  font-size: 25px;
  font-weight: 500;
  padding-right: 7px;
}

.nav-item {
  height: 50px;
  padding: 15px 8px 15px 0px;
  font-size: 15px;
  line-height: 20px;
  color: #86c2cb;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: lightcyan;
}

.jumbotron h1 {
  margin-top: 10px;

}

.display-3{
  font-size: 55px;
}

.jumbotron p {
  margin-bottom: 10px;
  font-size: 20px;
}

#view-change-button {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #AB72F8;
  top: 0.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
}

#view-change-button img {
  display: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#view-change-button:not(.full) .not-full {
  display: inline-block;
}

#view-change-button.full .full {
  display: inline-block;
}

.col-md-4 {
  width:44%
}

.btn {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  margin-bottom: 20px;
}

.btn-info{
  align-items: center;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid slategrey;
  margin-bottom: 20px;
}

#contentParent {
  height: 100%;
}

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

#chat-column-holder {
  text-align: center;
  /*margin-top: -210px;*/
  margin-left: 30px;
  height: 180%;
  width: 100%;

}

.chat-column {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 85%;
  padding: 0.9375rem 0 0.625rem 0;
  margin: auto;
  text-align: left;
  max-width: 30rem;
  min-width: 20rem;
  border: 1px solid #0b2224;
  background-color: #535a5d;
  border-color: #7d9f92;
}

.user-typing {
  flex: 0;
  border: none;
  color: #212925;
  margin: 0.75rem;
  /*noinspection CssInvalidPropertyValue*/
  font-size: 10px;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#scrollingChat {
  margin: 0.5rem;
  margin-bottom: 0.3rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  border: solid 2px;
  border-color: #64858c;
  /*border-bottom: 1px solid #b2b2b2;*/
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
  maring-right: 5px;
}

.from-user .message-inner {
  position: relative;
  font-size: 14px;
  color: #ecd6d6;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #39bf9e;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}


.from-user .message-inner:before {
  z-index: -2;
  bottom: -0.375rem;
  right: 0;
  height: 0.375rem;
  width: 0.5rem;
  background: #1cb3a0;
}

.from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

.from-watson, 
.message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 1rem;
  color: #8fb0d6;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}

.from-watson.latest .message-inner {
  color: #8fb0d6;
}

.from-watson p {
  margin: 0.3125rem;
  color: #8fb0d6;
  padding: 0 1.25rem;
}

.from-watson.latest.top p:before {
  content: ".";
  color: #9855d4;
  background-image: url("../img/marker_image.png");
  background-size: 0.3125rem 1.3125rem;
  position: absolute;
  z-index: 2;
  left: 0.4375rem;
  width: 0.3125rem;
  height: 1.3125rem;
  line-height: 1.3125rem;
}

#textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#textInput.underline {
  border-bottom: 2px solid #0cabea;
}

::-webkit-input-placeholder {
  color: #B5B5B5;
}

::-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

input:-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

:-ms-input-placeholder {
  color: #B5B5B5;
}

::-ms-clear {
  display: none;
}

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

#payload-column {
  display: none;
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  background-color: #23292A;
  color: #fff;
  overflow-x: auto;

  width: 45%;
  max-width: 32.0625rem;
  min-width: 29.6875rem;
}

#payload-column.full {
  display: none;
  width: 100%;
  max-width: none;
  min-width: initial;
}

#payload-column .header-text, #payload-column #payload-initial-message {
  display: none;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  color: #9E9E9E;
  letter-spacing: 0.01875rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  background: #383D3E;
}

.hide {
  display: none;
}

.payload .line-numbers, .payload .payload-text {
  padding: 0.5rem;
}

.line-numbers {
  width: 2rem;
  color: #898989;
  text-align: right;
}

pre {
  margin: 0;
  word-wrap: normal;
}

.string {
  color: #54EED0;
}

.boolean, .null, .number {
  color: #CE8EFF;
}

.key {
  color: #66B7FF;
}

html{
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .chat-column {
    padding-top: 4rem;
  }

  #payload-column {
    display: none;
    width: 0;
    max-width: none;
    min-width: initial;
  }
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman/h-n-roman.woff2') format('woff2'),
  url('../fonts/roman/h-n-roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.options-list {
  color: #2c4539;
  cursor: pointer;
}

.options-button {
  color: white;
  background-color: #212b26;
  border-radius: 6px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 3px;
  cursor: pointer;
  display: inline-block;
}
